# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# db files
db_django/

### PyCharm ###
.idea/

# Folder for upload PDF files
pdf/

# Distribution / packaging
.Python
env/
venv/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.env
db.sqlite3


### OSX ###
.DS_Store

